// ==========================================================================
// #PRE-CONFIG
// ========================================================================== */

// In this file, we are assigning new values to existing Nightingale variables
// so as to override them. We can do this with any Nightingale variable that is
// defined with a `!default` flag, but we must do it BEFORE, rather than after,
// the framework’s assignment.

// Different typographic settings, please.

// Our assets live somewhere different…

$asset-path: '/theme/nightingale/node_modules/nightingale/assets/';
$font-path: '#{$asset-path}fonts/';
$image-path: '#{$asset-path}img/';