{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    Page header.
}}
{{{ partnershipinfo }}}
{{{ ribbonhtml }}}
<header role="banner" class="c-page-header" id="jsPageHeader">

    <div class="o-wrapper">

          <img src="{{{ logosrc }}}" alt="NHS" width="89" height="36" class="c-page-header__logo">

          <strong class="c-page-header__title">
            <img src="{{{ sublogosrc }}}" alt="Leadership Academy" width="241" height="25">
          </strong>

          <button class="c-nav-trigger" id="jsNavTrigger" aria-label="menu" data-expands="#jsNav" role="button" aria-expanded="false">☰</button>

          <nav class="c-nav-primary  c-page-header__nav" id="primaryNav">

            <ul class="c-nav-primary__list" id="jsNav">

              <li class="c-nav-primary__item">
                <a href="{{{config.wwwroot}}}/my" class="c-nav-primary__link">Dashboard</a>
              </li>

              <li class="c-nav-primary__item">
                <button class="c-nav-primary__link" data-expands="#item-2-sub" data-popup="" role="button" aria-expanded="false" aria-haspopup="true">Programmes</button>
                    <nav class="c-nav-primary__sub  jsNavSub" id="item-2-sub" role="group" aria-label="sub navigation menu">

                        <div class="o-wrapper">

                            <div class="o-layout">
                                <div class="o-layout__item  u-6/12@lg">

                                    <h4 class="u-margin-bottom-small">This is a new sub nav area</h4>

                                    <p class="u-margin-bottom-small"><small>Menu short description that introduces the user to the list
                                    within this dropdown menu.</small></p>

                                    <p class="u-margin-bottom-small">
                                    <a href="#0" class="c-btn  c-btn--primary  c-btn--full">Button</a>
                                </p>

                                </div><!-- /.o-layout__item -->
                                <div class="o-layout__item  u-6/12@lg">

                                    <ul class="c-nav-primary__sub-links">
                                        <li>
                                            <a href="#0">Sub Link 1</a>
                                        </li>
                                        <li>
                                            <a href="#0">Sub Link 2</a>
                                        </li>
                                        <li>
                                            <a href="#0">Sub Link 3</a>
                                        </li>
                                        <li>
                                            <a href="#0">Sub Link 4</a>
                                        </li>
                                    </ul>

                                </div><!-- /.o-layout__item -->
                            </div><!-- /.o-layout -->

                        </div><!-- /.o-wrapper -->

                    </nav>

              </li>

              <li class="c-nav-primary__item">
                <button class="c-nav-primary__link" data-expands="#item-3-sub" data-popup="" role="button" aria-expanded="false" aria-haspopup="true">Notifications</button>
                  <nav class="c-nav-primary__sub  jsNavSub" id="item-3-sub" role="group" aria-label="sub navigation menu">

                      <div class="o-wrapper">

                          <div class="o-layout">
                              <div class="o-layout__item  u-6/12@lg">

                                  <h4 class="u-margin-bottom-small">This is a new sub nav area</h4>

                                  <p class="u-margin-bottom-small"><small>Menu short description that introduces the user to the list
                                  within this dropdown menu.</small></p>

                                  <p class="u-margin-bottom-small">
                                  <a href="#0" class="c-btn  c-btn--primary  c-btn--full">Button</a>
                              </p>

                              </div><!-- /.o-layout__item -->
                              <div class="o-layout__item  u-6/12@lg">

                                  <ul class="c-nav-primary__sub-links">
                                      <li>
                                          <a href="#0">Sub Link 1</a>
                                      </li>
                                      <li>
                                          <a href="#0">Sub Link 2</a>
                                      </li>
                                      <li>
                                          <a href="#0">Sub Link 3</a>
                                      </li>
                                      <li>
                                          <a href="#0">Sub Link 4</a>
                                      </li>
                                  </ul>

                              </div><!-- /.o-layout__item -->
                          </div><!-- /.o-layout -->

                      </div><!-- /.o-wrapper -->

                  </nav>
            </li>

            <li class="c-nav-primary__item">
                {{# flatnavigation }}
                  {{#action}}
                  <a class="c-nav-primary__link" href="{{{action}}}" data-key="{{key}}">
                      <div class="m-l-{{get_indent}}">
                          {{^is_section}}
                            {{#showdivider}}
                              Site Admin
                            {{/showdivider}}
                          {{/is_section}}
                      </div>
                  </a>
                  {{/action}}
                {{/ flatnavigation }}
            </li>

            <li class="c-nav-primary__item">
                <button class="c-nav-primary__link" data-expands="#item-5-sub" data-popup="" role="button" aria-expanded="false" aria-haspopup="true">Profile</button>
                  <nav class="c-nav-primary__sub  jsNavSub" id="item-5-sub" role="group" aria-label="sub navigation menu">

                      <div class="o-wrapper">

                          <div class="o-layout">
                              <div class="o-layout__item  u-6/12@lg">

                                  <h4 class="u-margin-bottom-small">This is a new sub nav area</h4>

                                  <p class="u-margin-bottom-small"><small>Menu short description that introduces the user to the list
                                  within this dropdown menu.</small></p>

                                  <p class="u-margin-bottom-small">
                                  <a href="#0" class="c-btn  c-btn--primary  c-btn--full">Button</a>
                              </p>

                              </div><!-- /.o-layout__item -->
                              <div class="o-layout__item  u-6/12@lg">

                                  <ul class="c-nav-primary__sub-links">
                                      <li>
                                          <a href="#0">Sub Link 1</a>
                                      </li>
                                      <li>
                                          <a href="#0">Sub Link 2</a>
                                      </li>
                                      <li>
                                          <a href="#0">Sub Link 3</a>
                                      </li>
                                      <li>
                                          <a href="#0">Sub Link 4</a>
                                      </li>
                                  </ul>

                              </div><!-- /.o-layout__item -->
                          </div><!-- /.o-layout -->

                      </div><!-- /.o-wrapper -->

                  </nav>
            </li>

              <li class="c-nav-primary__item">
                <a href="#0" class="c-nav-primary__link">Sign Out</a>
              </li>

            </ul>
          </nav>

     </div>

</header>

