{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    Page header.
}}
{{{ ribbonhtml }}}
{{{ partnershipinfo }}}
<header role="banner" class="c-page-header" id="jsPageHeader">

    <div class="o-wrapper  c-page-header__inner">

          <a href="{{{config.wwwroot}}}/my" class="c-page-header__lockup">
            <img src="{{{ logosrc }}}" alt="NHS" width="204" height="62" class="c-page-header__logo">
          </a>

           <div class="c-page-header__controls">

              <button class="c-nav-trigger" id="jsNavTrigger" aria-label="menu" data-expands="#jsNav" role="button" aria-expanded="false">☰</button>

              <nav class="c-nav-primary  c-page-header__nav" id="primaryNav">

                <ul class="c-nav-primary__list" id="jsNav">

                  <li class="c-nav-primary__item c-nav-primary__align">
                    <a href="{{{config.wwwroot}}}/my" class="c-nav-primary__link">Dashboard</a>
                  </li>

                  <li class="c-nav-primary__item c-nav-primary__align">
                    <button class="c-nav-primary__link" data-expands="#item-2-sub" data-popup="" role="button" aria-expanded="false" aria-haspopup="true">Programmes</button>
                        <nav class="c-nav-primary__sub  jsNavSub" id="item-2-sub" role="group" aria-label="sub navigation menu">

                            <div class="o-wrapper">

                                <div class="o-layout">
                                    <div class="o-layout__item  u-6/12@lg">

                                                <ul class="c-nav-primary__sub-links">
                                                    <li>
                                                        {{{availablecourses}}}
                                                    </li>
                                                </ul>
                                    </div><!-- /.o-layout__item -->
                                </div><!-- /.o-layout -->

                            </div><!-- /.o-wrapper -->

                        </nav>

                  </li>


                {{{siteadminlink}}}


                <li class="c-nav-primary__item c-nav-primary__align">
                    <a href="{{{profileurl}}}" class="c-btn c-btn--primary c-btn--natural c-page-header__btns" id="c-page-header__profilebtn">Profile</a>
                </li>

                  <li class="c-nav-primary__item c-nav-primary__align">
                    <a href="{{{logouturl}}}" class="c-btn c-btn--secondary c-btn--natural c-page-header__btns" id="c-page-header__logoutbtn">Signout</a>
                  </li>

                </ul>
              </nav>
           </div>

     </div>

</header>

