/* ==========================================================================
   #COURSE VIEW
   ========================================================================== */
// Navbuttons plugin
#navbuttons {
  margin-bottom: $global-spacing-unit-small;
  border-bottom: 1px solid color('nhs-grey-mid');
  border-top: 1px solid color('nhs-grey-mid');
  padding: $global-spacing-unit-small;
}

#navbuttons .navbuttontext {
  float: none;
}

form.togglecompletion.navbuttontext {
  text-align: center;
  margin-bottom: $global-spacing-unit-tiny;
}

form.togglecompletion.navbuttontext input.custom_activity_completion {
  @extend .c-btn;
  @extend .c-btn--submit;
  @extend .c-btn--natural;
  padding: $global-spacing-unit-small;
  white-space: normal;
}

form.navbuttontext.prev {
  display: inline-block;
  float: left;
  text-align: left;
  width: 50%;
  padding-left: $global-spacing-unit-tiny;
}

form.navbuttontext.prev input[type="submit"] {
  @extend .c-btn;
  @extend .c-btn--primary;
  @extend .c-btn--natural;
  white-space: normal;
  height: $global-spacing-unit-large; // To make it look same height as Next button as it can shrink at times based on activity name's length
}

form.navbuttontext.next {
  display: inline-block;
  float: right;
  text-align: right;
  width: 50%;
  padding-left: $global-spacing-unit-tiny;
}

form.navbuttontext.next input[type="submit"] {
  @extend .c-btn;
  @extend .c-btn--submit;
  @extend .c-btn--natural;
  white-space: normal;
  height: $global-spacing-unit-large; // To make it look same height as Prev button as it can shrink at times based on activity name's length
}

// Video Plugin
.video-js {
  background: none;
}

// To give light overlay, although it wont work if we have a default poster image which overrides any background relay
.mediaplugin.mediaplugin_videojs {
  @extend .c-media__masthead;
}

// Play button
.video-js .vjs-big-play-button {
  @extend .c-sprite;
  @extend .c-sprite--play;
  @extend .c-media__emblem;
}

// Feedback :: Rate the topic -> heading needs to stay standard black as opposed to blue
form[id="feedback_complete_form"] div.feedback_itemlist h3.delta.text-center {
  color: color('nhs-black') !important;
}