/* ==========================================================================
   #QUIZ ACTIVITY - A way to map quiz elements with cleaner Nightingale classes.
   ========================================================================== */

.que .info {
  font-size: ($global-font-size / $global-font-size-h3) * 1em;
  margin: 0 0 1rem 0;
  padding: 0 1rem;
}

.que .info h3 {
  line-height: $global-line-height / $global-font-size-h4;
  font-weight: bold;
  margin: 0 1rem 1rem 0;
}

.que .content {
  color: $color-text;
  padding: 1rem;
}

.que .content .formulation .ablock table.answer td.control {
  @extend .c-form-dropdown;
}

.que.multichoice .answer div.r0 label, .que.multichoice .answer div.r1 label {
  display: inline-block;
  font-weight: normal;
}

.mod_quiz-prev-nav.btn.btn-secondary {
  @extend .c-btn;
  @extend .c-btn--secondary;
  margin-bottom: $global-spacing-unit-small;
}

#page-mod-quiz-attempt .submitbtns .mod_quiz-next-nav, #page-mod-quiz-review .submitbtns .mod_quiz-next-nav {
  margin-bottom: $global-spacing-unit-small;
}

.answeroption .row .checkbox label p, .answeroption .row .checkbox label {
  display: inline-block;
  font-weight: normal;
  float: left;
  width: 95%;
}

.answeroption .row .checkbox label input[type='checkbox'] {
  float: left;
  margin-top: $global-spacing-unit-tiny;
  margin-left: $global-spacing-unit-tiny;
}

.answer label {
  display: inline-block;
  margin-left: $global-spacing-unit-tiny;
  font-weight: normal;
}

.text_to_html .studentanswer.m-t-2.m-b-2 {
  margin-bottom: $global-spacing-unit;
  margin-top: $global-spacing-unit;
}

.generaltable td {
  padding: $global-spacing-unit-tiny;
}

.correctanswer.generalbox em {
  font-weight: bold;
}

.generaltable tbody>tr:nth-child(odd)>td {
  background-color: color('nhs-grey-pale');
}

.answer label {
  display: inline-block;
  font-weight: normal;
  margin-left: 8px;
}

table.generaltable.quizattemptsummary {
  @extend .c-table-data;
}