/* ==========================================================================
   #COURSE VIEW
   ========================================================================== */
// Navbuttons plugin
#navbuttons {
  @extend .c-pagination;
  margin-bottom: $global-spacing-unit-small;
  border-bottom: 1px solid color('nhs-grey-mid');
  border-top: 1px solid color('nhs-grey-mid');
  padding: $global-spacing-unit-small;
}

form.togglecompletion.navbuttontext {
  text-align: center;
  margin-bottom: $global-spacing-unit-tiny;
  width: 100%;
}

form.togglecompletion.navbuttontext input.custom_activity_completion {
  @extend .c-btn;
  @extend .c-btn--submit;
  @extend .c-btn--natural;
  padding: $global-spacing-unit-small;
  white-space: normal;
}

a.navbuttontext {
  display: inline-block;
  text-align: left;
  width: 50%;
  padding-left: $global-spacing-unit-tiny;
  color: color('nhs-blue');
  white-space: normal;
}

a.navbuttontext.prev {
  @extend .is-current;
}

a.navbuttontext.next {
  text-align: right;
}

span.navbuttontext.prev-span {
  @extend .c-sprite;
  @extend .c-sprite--prev-grey;
}

#navbuttons span.navbuttontext.next-span {
  @extend .c-sprite;
  @extend .c-sprite--next-blue;
  float: right;
}

// Media Plugin
div[id="video_player"] .mediaplugin.mediaplugin_videojs {
  width: 100%;
}

// Video Plugin
.video-js {
  background: none;
}

// @TO-DO: Get Nightingale styles in place for Video & Play button

// Feedback :: Rate the topic -> heading needs to stay standard black as opposed to blue
form[id="feedback_complete_form"] div.feedback_itemlist h3.delta.text-center {
  color: color('nhs-black') !important;
}