/* ==========================================================================
   #FORUMS
   ========================================================================== */
/**
 * Unfortunately, Moodle provides Forums that we cannot actually get access to
 * in order to add new classes. Here we’re just remapping its selector onto
 * the cleaner Nightingale ones.
 */

// Add new Forum button
.singlebutton.forumaddnew button {
  @extend .c-btn;
  @extend .c-btn--submit;
  @extend .c-btn--full;
}

// Forum Search
.forumsearch button {
  @extend .c-sprite;
  @extend .c-sprite--magnifying-glass-rev;
  float: right;
}

.forumsearch input[id="search"] {
  @extend .c-form-input;
}

// Forum List Table
.path-mod-forum table.forumheaderlist {
  @extend .c-table-data;
  border: none;
  border-bottom: 1px solid color('nhs-black');
  border-collapse: collapse;
}

.path-mod-forum .forumheaderlist .replies, .path-mod-forum .forumheaderlist .discussion .author {
  white-space: normal;
}

.path-mod-forum .forumheaderlist td {
  border-style: none;
  border-width: 0;
}

.path-mod-forum .forumheaderlist .discussion .lastpost {
  text-align: left;
  white-space: normal;
}


// Removing border of first post for every forum so it could stand out
.forumpost {
  border: none;
}

.forumpost .row .topic, .forumpost .row .content-mask, .forumpost .row .options {
  margin-left: 0px;
}

// Hiding Avatar image from each forum post/thread as not required for v1.0
.left.picture {
  display: none;
}

// Making first post thread topic/subject bolder
.topic.firstpost.starter .subject {
  @extend strong;
  margin-top: $global-spacing-unit;
}

// Leaving slight gap between content & forum post title for First post
.forumpost.clearfix.firstpost.starter .content {
  margin-top: $global-spacing-unit-tiny;
}

// Hiding forum post title for each subsequent replies
.indent .forumpost .subject {
  display: none;
}

// Removing indentation of forum post content
.forumpost .row .left {
  width: 0px;
}

/*
 * Mapping each forum post styles after the First post with Nightingale classes
 */
.indent {
  @extend .c-comments;
  border-left: 4px solid color('nhs-grey-pale');
  padding-left: $global-spacing-unit-tiny + $global-border-mid;
}

.forumpost .author {
  @extend .c-comment__author;
}

div.indent .forumpost .content .posting {
  @extend .c-comments__content;
  color: color('nhs-grey-dark');
}

.indent div.indent {
  border-left: 4px solid color('nhs-grey-pale');
  padding-left: $global-spacing-unit-tiny + $global-border-mid;
}

.forumpost .options .commands {
  @extend .c-comments__reply;
}

.path-mod-forum :target~.forumpost:before {
  left:-10px;
}
/*
 * End of Forum post styles
 */

// Removing float for Display Mode dropdown to span out
#page-mod-forum-discuss .discussioncontrols .discussioncontrol {
  float: none;
}

// Individual Forum Post Prev-Next Pagination
.discussion-nav.clearfix ul {
  @extend .c-pagination;
}

.discussion-nav.clearfix li {
  @extend .c-pagination__item;
}

.discussion-nav.clearfix li a {
  @extend .c-pagination__link;
  display: inline;
}

.discussion-nav.clearfix ul > li:first-child {
  @extend .c-pagination__item;
  @extend .c-pagination__prev;
}

/**
 * Forum forms
 */
form[id="mformforum"] legend {
  display: none;
}

form[id="mformforum"] a.collapseexpand {
  display: none;
}

select[id="id_timestart_day"], select[id="id_timeend_day"] {
  width: 58px;
}

select[id="id_timestart_year"], select[id="id_timeend_year"] {
  width: 72px;
}

select[id="id_timestart_hour"], select[id="id_timeend_hour"] {
  width: 56px;
}

// WSIWYG editor toolbar background
div.editor_atto_toolbar {
  background-color: color('nhs-grey-pale');
}

// Moving required icon closer to label
.pull-xs-right.text-nowrap i {
  float: left;
}

input[id="id_submitbutton"] {
  @extend .c-btn--submit;
  @extend .c-btn--full;
}

// Hidden little question mark help icon links
form[id="mformforum"] .form-group.row.fitem .text-nowrap a {
  display: none;
}

fieldset[id="id_displayperiod"] .form-inline .form-group {
  display: inline-block;
  margin: 0;
  vertical-align: middle;
}

form[id="mformforum"] .form-inline label.form-check.fitem {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 0px;
  margin-top: 32px;
}

// Forum form buttons
.form-group.fitem.btn-cancel {
  display: block !important;
}

// Restrict Filepicker icons to not look like secondary buttons
.fp-navbar a.btn.btn-secondary.btn-sm {
  width: unset;
  padding: 0;
  border: none;
}

// Latest Announcements Block
.unlist .date, .unlist .name {
  @extend small;
}

.name {
  margin-left: $global-spacing-unit-tiny;
}

button[id="searchform_button"] {
  margin-top: $global-spacing-unit-tiny;
}

// Move & Pin Discussion
div.movediscussionoption {
  margin-top: $global-spacing-unit-small;
}

div.movediscussionoption input.btn.btn-secondary {
  margin-top: $global-spacing-unit-tiny;
}

#page-mod-forum-discuss .discussioncontrols .discussioncontrol.pindiscussion {
  margin-top: $global-spacing-unit-small;
}

// Subscription icon dots
div.discussionsubscription i.icon.fa.fa-envelope-o.fa-fw {
  margin-right: $global-spacing-unit-tiny / 2;
}

/**
 * End of Forum forms
 */